<p><b>I am the add-on template.</b> Now I will show you a message pulled via ajax: <span class="ajaxmessage"></span></p>
<script type="text/javascript">
$(document).ready(function() {
	$.get("{baseurl}/ajax.php?action=addon_framework_get_user_ajax",
		function(data){
			if(!data.error){
				$('.ajaxmessage').html(data.message);
			}else{
				$('.ajaxmessage').html('Our Ajax call failed');
			}
		}, 
		"json");
});
</script>
